@charset "utf-8";

/****** 브라우저 초기화 및 전체 설정 ******/
* {
  margin: 0;
  padding: 0;
  color: #000;
}

li {
  list-style: none;
  /*숫자, 점 등 목록의 장식 제거*/
  float: left;
  
  /*왼쪽으로 이어붙이기*/
}

a {
  text-decoration: none;
  /*밑줄 등 글자의 장식 제거*/
}

a:hover {
  color: #ddd;
}

address {
  font-style: normal;
  /*address태그의 기본설정은 italic*/
}

small {
  font-size: 100%;
  /*small태그의 기본설정은 약 85%*/
}

img {
  vertical-align: top;
  /*img태그가 가지고 있는 기본 여백 제거*/
}



.hidden {
  /*시각적으로 보이지 않게*/
  visibility: hidden;
  /*영역의 크기를 0으로*/fk.
  width: 0;
  height: 0;
  /*콘텐츠의 크기를 0으로*/
  font-size: 0;
  line-height: 0;
}

#wrap {
  min-width: 1110px;
  /*최소넓이 지정시 기본넓이는 100%로 자동설정*/
}





/****** 헤더 영역 ******/
header {
  width: 1110px;
  height: 52px;
  margin: 40px auto;
}

header > div {
  float: left;
}

#logo {
  width: 253px;
  height: 52px;
}

#header_right {
  width: 857px;
  height: 52px;
}

#gnb {
  float: right;
}


#gnb li {
  border-right: 1px solid #ddd;
}

#gnb li.last {
  border: none;
}

#gnb a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
}

#gnb .first a {
  padding-left: 0;
}

#gnb .last a {
  padding-right: 0;
}







/****** 주 메뉴 ******/
#lnb{
    width: 100%;
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #000;
}

#lnb> ul{
    width: 1110px;
    margin: 0 auto;
}

#lnb>ul>li{
   width:180px;
    float: left;
    position: relative;
    /*sub의 위치 기준*/
    z-index: 1;
    /*z값(기본 설정은0)*/
    text-align: center;
    
}
#lnb a:hover {
 
  color:#FFBB00;
}


#lnb>ul>li>a{
   
    display: block;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 15px;
    
}
.sub li{
    float: none;
}
.sub{
   
    position: absolute;
    /*다음에 위치하는 요소와 z값을 구분하기 위해*/
    left: 0;
    top: 40px;
   
}

.sub a{
   
   width:100%;
    display: block;
    line-height: 30px;
   


}

/*************diaplay(직계 하위 메뉴)**************/

#display_li .sub{
    background-color: #FFFFFF;
    width: 100%;
    display: none;
}

#display_li >#lnb>ul>li:hover .sub{
    display: block;
}

/**** 콘텐츠 영역 ****/
section {
    width: 100%;
    /* border-bottom: 1px solid #000;  */

}

#main_banner {
    /*width: 100%;*/
    min-width: 1110px;
    height: 393px;
    /* margin-bottom: 20px auto; */
    border-bottom: 4px solid #000;
    background-position: center;
    background-image: url(../img/slide1.jpg);
}

#main {
	width: 1110px;
	height: 130px;
}

.px-3 {
	margin: 150px;
	margin-left: 150px;
	margin-bottom: 200px;

}


#intro {
    width: 1110px;
    height: 130px;
    margin: 20px auto;
    margin-bottom: 200px;
   
}

.m_r_10 {
    margin-right: 70px;  

}

.m_r_11 {
    margin-left: 110px;  

}

article {
    width: 1110px;
    height: 400px;
    margin: 20px auto;

}

article h3 {
    height: 30px;
    font-weight: normal;
}


.m_17 {
    margin: 50px;

}

.font_6 {
	margin-top: 20px;
	text-align: center;
}

.font_7{
	margin-top: 15px;
	text-align: center;
}


/*********** 공지사항, QnA ************/


b,
strong {
  font-weight: bolder;
}

.container {
  width: 80%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

textarea.form-control {
  height: auto;
  width: 98%;
}

.b_header{
	margin: 2% auto 2% 1%;
}

.b_menu {
	margin: 5% auto 5% auto; 
}

.b_body{
	width: auto;
	margin: auto; 
	vertical-align: middle;
} 

.c_header{
	margin: 2% auto 2% 1%;
}

.c_body{
	width: auto;
	margin: auto; 
	vertical-align: middle;
}

.table-responsive {
  display: block;
  width: auto;
  overflow-x: auto;      
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.form-control {
  display: block;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.3rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control-search {
  width: 20%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

.form-control-c {
  display: block;
  width: 60%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control-select {
  display: block;
  width: 10%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} 

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}

.table .btn{
  margin: 0;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
  
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #cdd8f6;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #a3b6ee;
}

.table-hover .table-primary:hover {
  background-color: #b7c7f2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b7c7f2;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #dddde2;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #c0c1c8;
}

.table-hover .table-secondary:hover {
  background-color: #cfcfd6;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #cfcfd6;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #bff0de;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #89e2c2;
}

.table-hover .table-success:hover {
  background-color: #aaebd3;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #aaebd3;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #c7ebf1;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #96dbe4;
}

.table-hover .table-info:hover {
  background-color: #b3e4ec;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #b3e4ec;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fceec9;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #fadf9b;
}

.table-hover .table-warning:hover {
  background-color: #fbe6b1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbe6b1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f8ccc8;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f3a199;
}

.table-hover .table-danger:hover {
  background-color: #f5b7b1;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b7b1;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfd;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #d1d1d5;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #a9aab1;
}

.table-hover .table-dark:hover {
  background-color: #c4c4c9;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #c4c4c9;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #5a5c69;
  border-color: #6c6e7e;
}

.table .thead-light th {
  color: #6e707e;
  background-color: #eaecf4;
  border-color: #e3e6f0;
}

.table-dark {
  color: #fff;
  background-color: #5a5c69;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #6c6e7e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

  .btn {
  display: inline-block;
  font-weight: 600;
  color: #3b8a38;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin: 1.5px;
}

.btn:hover {
  color: #3b8a38;
  background-color: #fff;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn-green {
  color: #fff;
  background-color: #2fab2a;
  border-color: #3b8a38;
}

.btn-green:hover {
  color: #fff;
  background-color: #2fab2a;
  border-color: #3b8a38;
}

.btn-green:focus, .btn-green.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background-color: #2fab2a;
  border-color: #3b8a38;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #2fab2a;
  border-color: #3b8a38;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-light-green {
  color: #3b8a38;
  background-color: #fff;
  border-color: #3b8a38;
}

.btn-light-green:hover {
  color: #2fab2a;
  background-color: #fff;
  border-color: #3b8a38;
}

.btn-light-green:focus, .btn-light-green.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-light-green.disabled, .btn-light-green:disabled {
  color: #3b8a38;
  background-color: #fff;
  border-color: #3b8a38;
}

.btn-light-green:not(:disabled):not(.disabled):active, .btn-light-green:not(:disabled):not(.disabled).active,
.show > .btn-light-green.dropdown-toggle {
  color: #3b8a38;
  background-color: #fff;
  border-color: #3b8a38;
}

.btn-light-green:not(:disabled):not(.disabled):active:focus, .btn-light-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-light-green.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-warning {
  color: #fff;
  background-color: #f6c23e;
  border-color: #f6c23e;
}

.btn-warning:hover {
  color: #fff;
  background-color: #f4b619;
  border-color: #f4b30d;
}

.btn-warning:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #fff;
  background-color: #f6c23e;
  border-color: #f6c23e;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #f4b30d;
  border-color: #e9aa0b;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
}

.bg-green {
  background-color: #11733f !important;
}

.card .card-header .dropdown {
  line-height: 1;
}

.card .card-header .dropdown .dropdown-menu {
  line-height: 1.5;
}

.card .card-header[data-toggle="collapse"] {
  text-decoration: none;
  position: relative;
  padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}

.card .card-header[data-toggle="collapse"]::after {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  color: #d1d3e2;
}

.card .card-header[data-toggle="collapse"].collapsed {
  border-radius: 0.35rem;
}

.card .card-header[data-toggle="collapse"].collapsed::after {
  content: '\f105';
}


.select{
	style: width:100px;
	font-size:22px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.35rem;
  margin: 0 45%;
  text-align: center;
  
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #2fab2a;	
  background-color: #fff;
  border: 1px solid #dddfeb;
  margin: 70% auto ;
  margin-left: -1px;
  
}

.page-link:hover {
  z-index: 2;
  color: #3b8a38;
  text-decoration: none;
  background-color: #eaecf4;
  border-color: #dddfeb;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2fab2a;
  border-color: #3b8a38;
}

.page-item.disabled .page-link {
  color: #858796;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dddfeb;
}

.pagination-lg .page-link {
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
/************* 추가  ************/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem; 
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.text-line {
	line-height: 1.5; 
	margin: 2% auto 5% auto;
}

 


/****** 하단 기업정보 영역 ******/
footer {
  width: 1110px;
  height: 120px;
  margin: 0 auto;
}

footer > div {
  float: left;
}

#bottom_logo {
  width: 253px;
  height: 90px;
  margin-top: 30px;
}

#footer_right {
  width: 857px;
  height: 120px;
}

#fnb {
  width: 857px;
  height: 30px;
}

#fnb a {
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

#fnb .first a {
  padding-left: 0;
}

#address {
  width: 857px;
  height: 90px;
  font-size: 12px;
  line-height: 1.5;
}

#address a {
  font-weight: bold;
}

#address address {
  height: 60px;
}








